.adminContent{
    table{
        border-bottom: 1px solid $borderPrimary;
        thead{
            th{
                border-bottom: 1px solid #121212;
            }
        }
        button{
            background: none;
        }
    }
    .noInfo{
        color:#eee;
    }
}
.modal{
    input:focus{
        border: 1px solid #121212;
    }
    .form-control{
        border: 1px solid #121212;
    }
    input[readonly]
{
    background-color:$primary;
}
}
.adminCardModal{
    .img{
        min-width: 141px;
        height: 141px;
        background: url( 'https://github.com/hexschool/webLayoutTraining1st/blob/master/week5/emir.jpeg?raw=true') center center;
        background-size: cover;
    }
}

